@tailwind base;
@tailwind components;
@tailwind utilities;

.about-bg-image {
    /* background-image: url(./assets/globe-1849404.png);
    background-position: center;
    background-size: cover;
    filter: blur(2px); */
    background-color: black;
}

.hero-section-bg-image {
    position: relative;
    overflow: hidden;
    /* Ensure the pseudo-elements are contained */
}

.hero-section-bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(./assets/16406291_rm373batch2-04.jpg); */
    /* background-image: url(./assets/download.png); */
    background-color: black;
    background-position: center;
    background-size: cover;
    z-index: 1;
}


.hero-section-bg-image>* {
    position: relative;
    z-index: 3;
    /* Ensure content is above both the background and smoke effect */
}






@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
    color-scheme: dark;
}

* {
    scroll-behavior: smooth
}

@layer base {
    body {
        @apply font-sans bg-n-8 text-n-1 text-base;
    }
}